.pagination{
    list-style: none;
    margin: auto;
    width: 100px;
    margin: 30px auto;
}

.pagination li {
    display: inline-block;
}
.pagination li a{
    text-decoration: none;
    background: red;
    padding: 10px 15px;
    background: #F99F9B;
    color: #fff;
}

.pagination li a:hover{
    background: #79B8AD;
    cursor: pointer;
}