.post-item {
  width: 22%;
  border: 1px solid #e8e8e8;
  margin-right:  1%;
  margin-bottom: 5px;

}
.post-item-img{
  height: 300px;
}

.post-item-img img {
  width: 100%;
  height: 100%;
}

.post-item-desc {
  margin: 20px 30px;

}

.post-item-title{
  font-weight: bold;
  display: block;
  margin: 10px 0;
  font-size: 14px;
  height: 80px;
}
.post-item-author {
  color: gray;
}

.post-item-price {
  color: #A8727E;
  display: block;
  margin: 20px 0;
}

.post-item:hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: transform .5s;
}