.post-item {
  float: left;
  width: 24.2%;
  height: 300px;
  border: 1px solid #e8e8e8;
  text-align: center;
  text-transform: capitalize;
  color: #333;
  margin-right: 5px;
  border-radius: 8px;
  padding-bottom: 30px;
  margin-bottom: 8px;
}
.post-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.post-item .post-item-img {
  width: 100%;
  height: 270px;
  border-radius: 5px 5px 0 0;
}

.post-item .post-item-title {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 18;
}
.post-item .post-item-desc {
  margin: 0 5px;
}
